/* abel-regular - latin */

@font-face {
    font-family: "Abel";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/abel-v12-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""), url("../fonts/abel-v12-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/abel-v12-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/abel-v12-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/abel-v12-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/abel-v12-latin-regular.svg#Abel") format("svg"); /* Legacy iOS */
}
body {
    font-family: "Abel";
}
header {
    padding-top: 20px;
    background: #56ccf2;
    height: 60px;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}
.client {
    grid-column: span 5;
    justify-self: end;
    display: flex;
    align-items: center;
    color: white;
}
.client span {
    padding-right: 20px;
    cursor: pointer;
}
.client_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(../img/avatar.jpg) no-repeat 0px -4px;
    background-size: auto 81px;
}
.logo {
    font-size: 24px;
    color: white;
    grid-column: span 3;
}
.tabs {
    background: #2d9cdb;
    margin-bottom: 60px;
}
.tabs_item {
    padding: 20px 0px;
    grid-column: span 4;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}
nav {
    grid-column: span 4;
}
.active {
    background: #2f80ed;
    border-bottom: 8px solid white;
}
.tabs i {
    font-size: 50px;
    margin-bottom: 10px;
}
nav ul {
    display: flex;
}
nav li {
    margin-right: 60px;
}
nav a:hover {
    cursor: pointer;
    border-bottom: 1px solid rgb(17, 46, 54);
}
.hamburger {
    display: none;
}
.hamburger_layer {
    position: relative;
    cursor: pointer;
    padding-right: 56px;
}
.hamburger_layer::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 40px;
    height: 19px;
    background: linear-gradient(
        to bottom,
        #fff 20%,
        transparent 21%,
        transparent 40%,
        #fff 41%,
        #fff 60%,
        transparent 61%,
        transparent 80%,
        #fff 81%
    );
}
nav a {
    text-decoration: none;
    color: #fff;
}
.tabs_item:hover {
    background: #2f80ed;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* main content*/
.main_content {
    color: black;
    .main_container {
        margin: 0 auto;
        max-width: 1260;
        display: grid;
        grid-template-columns: repeat(auto-fill, 620px);
        justify-content: center;
        gap: 30px;
        padding: 0px 15px;
        margin-bottom: 60px;
        .table {
            tbody {
                transition: opacity 0.3s ease-out;
            }
            table {
                border: 1px solid #2f80ed;
                width: 100%;
                background: #e0e0e0;
                margin-bottom: 30px;
                thead {
                    color: white;
                    tr {
                        background: #2f80ed !important;
                    }
                }
                th {
                    padding: 16.5px;
                }
                td {
                    //border: 1px solid #A9E2CC;
                }
                .colgroup_style1 {
                    border: 1px solid #2f80ed;
                }

                tr:nth-child(odd) {
                    background: rgba(255, 255, 255, 0.5);
                }
            }
            .pages {
                margin-bottom: 30px;
                .pages_counter {
                    display: grid;
                    grid-template-columns: repeat(9, 1fr);
                    justify-items: space-between;
                    grid-gap: 19px;
                    .page_button {
                        border: 1px solid #2f80ed;
                        box-sizing: border-box;
                        background: white;
                        width: 30px;
                        height: 30px;
                        color: #2f80ed;
                        transition: 0.2s ease-in all;
                        &:hover {
                            box-shadow: 0px 0px 8px #2f80ed;
                        }
                    }
                    .active {
                        background: #2f80ed;
                        color: white;
                    }
                }
                display: grid;
                grid-template-columns: 40px 1fr 40px;
                justify-items: center;
                align-items: center;
                .back_button {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #2f80ed;
                    border: 0;
                    transition: 0.2s ease-in-out all;
                    &:hover {
                        filter: drop-shadow(0px 0px 5px #2f80ed);
                    }
                    &:focus {
                        filter: drop-shadow(0px 0px 7px #036efa);
                    }
                    &::before {
                        top: 0px;
                        left: 0px;
                        content: "<";
                        font-size: 14px;
                        line-height: 140.62%;
                        color: white;
                    }
                }
                .next_button {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #2f80ed;
                    border: 0;
                    transition: 0.2s ease-in-out all;
                    &:hover {
                        filter: drop-shadow(0px 0px 5px #2f80ed);
                    }
                    &:focus {
                        filter: drop-shadow(0px 0px 7px #036efa);
                    }
                    &::before {
                        top: 0px;
                        left: 0px;
                        content: ">";
                        font-size: 14px;
                        line-height: 140.62%;
                        color: white;
                    }
                }
            }
            .page_to_see {
                .elements_count {
                    color: #2f80ed;
                    background: white;
                    border: 1px solid #2f80ed;
                    box-sizing: border-box;
                    height: 30px;
                    width: 64px;
                }
            }
        }
    }
    .news {
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(auto-fill, 270px);
        grid-template-rows: repeat(auto-fill, 350px);
        .add_news {
            a {
                text-decoration: none;
                color: white;
                background: #2f80ed;
                padding: 6.5px 24.5px;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 140.62%;
                &:hover {
                    box-shadow: 0px 0px 10px #2f80ed;
                }
            }
        }
        .news_card {
            display: flex;
            flex-direction: column;
            background: #ffffff;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
            height: 350px;
            .img_block {
                position: relative;
                .like {
                    position: absolute;
                    right: 25px;
                    bottom: -6px;
                    background-color: #2f80ed;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    cursor: pointer;
                    .like_img {
                        position: absolute;
                        pointer-events: none;
                        top: 8px;
                        left: 8px;
                        width: 15px;
                        height: 15px;
                        fill: white;
                        border-radius: 50%;
                    }
                    .like_test {
                        fill: red;
                    }
                }
                img {
                    height: 150px;
                    width: 100%;
                }
            }

            .main_text {
                padding: 0px 15px;
                margin-bottom: 19px;
                max-height: 67px;
                overflow: hidden;
                font-size: 12px;
                line-height: 140.62%;
            }
            .read_more {
                display: flex;
                justify-content: flex-end;
                padding-right: 15px;
                a {
                    text-decoration: none;
                    background: #2f80ed;

                    padding: 4.5px 21px;
                    font-size: 14px;
                    line-height: 140.62%;
                    text-transform: uppercase;
                    color: white;
                    &:hover {
                        box-shadow: 0px 0px 10px #2f80ed;
                    }
                }
            }
            .title_date {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 15px 15px 0px 15px;
                .title {
                    margin-bottom: 15px;
                    h4 {
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 100.62%;
                    }
                    p {
                        font-size: 10px;
                        line-height: 140.62%;

                        color: #828282;
                    }
                }
                .date {
                    font-size: 10px;
                    line-height: 140.62%;
                }
            }
        }
    }
}

table {
    border-collapse: collapse;
}

.tab2 {
    display: none;
}
.tab3 {
    display: none;
}
.tab2,
.tab3 .tab_container {
    margin: 0 auto;
    max-width: 1260px;
    text-align: center;
    font-size: 64px;
}

@media (max-width: 1280px) {
    header {
        padding: 20px 20px 0px 20px;
    }
}

@media (max-width: 940px) {
    nav {
        display: none;
    }
    .logo {
        grid-column: span 6;
    }
    .client {
        grid-column: span 5;
    }
    .hamburger {
        display: block;
        grid-column: span 1;
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    .logo {
        font-size: 16px;
    }
    .tabs i {
        font-size: 30px;
    }
    .client span {
        display: none;
    }
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
    .logo {
        grid-column: span 3;
    }
    .hamburger {
        grid-column: span 1;
    }
    .client {
        grid-column: span 2;
    }
    .tabs_item {
        grid-column: span 2;
    }
}

@media (max-width: 370px) {
    .client_img {
        display: none;
    }
    .logo {
        grid-column: span 5;
    }
    header {
        height: 40px;
    }
    .tabs_item span {
        display: none;
    }
}
