

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    background:#d8d8d8;
}
*,*:after,*:before{
    box-sizing: inherit;
}
.main_wrapper{
    background-color: #d8d8d8;
    height:100vh;
    width:100%;
    margin:0 auto;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.link{
    text-decoration: none;
    text-align:center;
    border-radius: 45px;
    background: #FFCA41;
    padding: 19px 98px;
    min-width:400px;
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    
}
.link:hover{
    opacity:0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    box-shadow: 6px 10px 4px rgba(199, 199, 199, 0.30);
}
.link:active{
    opacity:0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    box-shadow: 5px 9px 4px rgba(255, 255, 255, 0.308);
}
.link_wrap{
    margin-bottom:20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.link_wrap2{
    margin-bottom:20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
}
.link2{
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    background: #FFCA41;
    padding: 19px 12px;
    min-width: 195px;
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.link_wrap:last-child{
    margin:0;
}
.f{
    background: pink;
}
.ff{
    background:white;
}
.fff{
    background:rgb(252, 95, 95);
    color:white;
}
.fff2{
    background:rgb(253, 61, 61);
    color:white;
}
.ffff{
    background:rgb(111, 247, 252);
    color:black;
}
.fffff{
    background:rgb(239, 134, 248);
    color:white;
}
.ffffff{
    background:rgb(106, 153, 255);
    color:white;
}
.fffffff{
    background:rgb(252, 139, 74);
    color:white;
}
.helper_block{
    background:rgb(52, 105, 148);
    padding:55px 50px;
    border-radius:100px;
    position:relative;
}
.helper_block:after{
    content:'17ВМ1';
    width:100px;
    height:100px;
    position:absolute;
    top: -94px;
    left: 139px;
    font-size:72px;
    line-height:1.12;
    color:rgb(112, 112, 112);
}
.l{
    margin-bottom:0 !important;
}
.b-container{

    background-color: #ccc;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.b-popup-content{
    position:relative;
}
.img1{
    position:absolute;
    left:50%;
    top:50%;
    height:100vh;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    border-radius: 40px;
    border: 2px solid rgb(52, 105, 148,1);
}

@media (max-width: 520px) {
.link,.link2{
    min-width:306px;
    
padding:10px 75px;
}
.link2{
    margin-bottom:20px;
}
.link2:last-child{
    margin:0;
}
.link_wrap2{
    justify-content: center;
}
.helper_block{
    padding:0;
    padding-top:70px;
    padding-bottom:50px;
    border-radius:0;
    background:0;
    margin:0 auto;
}
.main_wrapper{
    height:auto;
}
.img1{
    width: 100vw;
}
}

